html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, system-ui, sans-serif;
    background: linear-gradient(180deg, hsl(360 0% 100%), hsl(360 0% 60%)) no-repeat fixed;
    background-size: cover;        /* makes gradient cover the whole page */
}