html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg, hsl(360 0% 100%), hsl(360 0% 60%) 100%);
    font-family: Inter, system-ui, sans-serif;
}