.Page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.Container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Container h2 {
    font-size: 25px;
    font-weight: bold;
    color: black;
}

form {
    width: 100%;
    max-width: 350px;
    background: white;
    padding: 28px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.Inputs {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.Inputs input {
    padding: 12px 14px;
    border-radius: 15px;
    border: 2px solid hsl(360 0% 50%);
    font-size: 14px;
    outline: none;  /* removing default browser border */
}

.Inputs input:focus {
    border-color: hsl(210, 100%, 50%);
}

.SignInButton {
    padding: 12px 16px;
    border-radius: 15px;
    border: none;
    background: hsl(210, 100%, 50%);
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.SignInButton:hover {
    transition: 0.5s;
    background: hsl(210, 100%, 40%);
    transform: translateY(-3px);
}