.Window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* dim background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* above other content */
}

.DetailsContainer {
    background: white;
    border-radius: 12px;
    padding: 24px;
    width: 500px;
    max-width: 50%;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.FilenameContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.FilenameContainer p {
    margin: 0;
    font-weight: 800;
}

.FilenameContainer button {
    padding: 4px 8px;
    border: none;
    border-radius: 15px;
    background-color: hsl(210, 100%, 50%);
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.FilenameContainer button:hover {
    transition: background-color 0.5s;
    background-color: hsl(210, 100%, 40%);
}

.CloseButton {
    margin-top: 20px;
    padding: 8px 16px;
    border: none;
    border-radius: 15px;
    background-color: hsl(0, 70%, 60%);
    color: white;
    cursor: pointer;
    align-self: center;
}

.CloseButton:hover {
    transition: background-color 0.5s;
    background-color: hsl(0, 70%, 50%);
}

.FilenameChangeBox {
    display: flex;
    gap: 8px;
    width: 100%;
}

.FilenameChangeBox input {
    flex: 1;
    padding: 6px 10px;
    border: 1px solid black;
    border-radius: 15px;
}

.FilenameChangeBox button {
    padding: 6px 12px;
    font-size: 14px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.FilenameChangeBox .ConfirmButton {
    background: hsl(120 60% 40%);
    color: white;
}

.FilenameChangeBox .ConfirmButton:hover {
    transition: background-color 0.5s;
    background: hsl(120 60% 30%);
}

.FilenameChangeBox .CancelButton {
    background: hsl(0, 70%, 60%);
    color: white;
}

.FilenameChangeBox .CancelButton:hover {
    transition: background-color 0.5s;
    background: hsl(0, 70%, 50%);
}

.Confirmation {
    color: green;
    font-size: 16px;
}