.ImagesPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh; /* make it fixed to viewport height */
}
.ImagesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1; /* take remaining space after TopBar */
}