.Window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* dim background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* above other content */
}

.DetailsContainer {
    background: white;
    border-radius: 12px;
    padding: 24px;
    width: 500px;
    max-width: 50%;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.CloseButton {
    margin-top: 20px;
    padding: 8px 16px;
    border: none;
    border-radius: 15px;
    background-color: hsl(0, 70%, 60%);
    color: white;
    cursor: pointer;
    align-self: center;
}

.CloseButton:hover {
    transition: background-color 0.5s;
    background-color: hsl(0, 70%, 50%);
}
