.TopBar {
    width: 100%;
    height: 60px;
    background-color: hsl(210, 100%, 50%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
}

.TopBar h3 {
    cursor: pointer;
}

.ButtonGroup {
    display: flex;
    gap: 8px;
}

.TopBar button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(210, 100%, 50%);
    cursor: pointer;
    font-weight: bold;
}

.TopBar button:hover {
    background-color: hsl(0, 0%, 90%);
    transition: 0.5s;
}