.CameraManagementPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.CameraContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1; /* take remaining space after TopBar */
}