.Window {
    width: 100%;
}

.NameContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.NameContainer p {
    margin: 0;
    font-weight: 800;
}

.NameContainer button {
    padding: 4px 8px;
    border: none;
    border-radius: 15px;
    background-color: hsl(210, 100%, 50%);
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-left: auto;
}

.ChangeBox {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
}

.ChangeBox input {
    flex: 1 1 auto;
    padding: 6px 10px;
    border: 1px solid black;
    border-radius: 15px;
    min-width: 0;
    margin-right: 8px;
}

.ChangeBox button {
    flex: 0 0 auto;
    padding: 6px 12px;
    font-size: 14px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.ConfirmButton {
    background: hsl(120 60% 40%);
    color: white;
}

.ConfirmButton:hover {
    transition: background-color 0.5s;
    background: hsl(120 60% 30%);
}

.CancelButton {
    background: hsl(0, 70%, 60%);
    color: white;
}

.CancelButton:hover {
    transition: background-color 0.5s;
    background: hsl(0, 70%, 50%);
}

.Confirmation {
    color: green;
    font-size: 16px;
}